@media ( max-width: 992px ) {
    .container {
        padding: 0 25px;
    }
    .header {
        &__logo {
            width: 250px;
        }
    }
    .promo {
        background-position: 40%;
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
            line-height: 22px;
        }
    }
    .advantage {
        &__block {
            width: 30%;
        }
        &__descr {
            font-size: 13px;
        }
    }  
}

@media ( max-width: 768px ) {
    .header {
        flex-wrap: wrap;
        &>a {
            order: 1;
        }
        &__official {
            margin: 0 auto;
            margin-top: 10px;
            padding: 0 15px;
            order: 3;
            span {
                display: inline;
            }
        }
        &__contacts {
            order: 2;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantage {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
        }
        &__block {
            width: 100%;
            margin-top: 35px;
        }
    }
}

@media ( max-width: 576px ) {
    .header {
        align-items: flex-start;
        &>a {
            width: 120px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 12px;
        }
    }
    .promo {
        padding: 20px 0 40px 0;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 22px;
            line-height: 22px;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
        &__icons {
            margin-top: 30px;
            width: 100px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 30px;
            height: auto;
            img {
                margin-bottom: 15px;
            }    
        }
    }
    .button {
        width: 116px;
        height: 24px;
        font-size: 10px;
        &_main {
            margin-top: 10px;
            width: 240px;
            height: 40px;
            font-size: 14px;
        }
    }
    .advantage {
        padding: 30px 0;
        &__wrapper {
            margin-top: 0px;
        }
    }
}